.accolades_wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: var(--size--1rem);

  border: var(--border-width--main) solid var(--theme--border);
  border-radius: var(--radius--small);

  background-color: var(--theme--background);

  color: var(--button--text);
}

@media screen and (max-width: 479px) {
  .accolades_wrapper {
    justify-content: center;
    align-items: flex-start;
  }
}

.u-vflex-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.accolades_logo {
  flex: 0 0 auto;
}

#w-node-f2886e51-ceac-367e-f79f-1c855ce16e09-5ce16e09 {
  justify-self: center;
}