.btn_play_wrap {
  width: var(--size--5rem);
  aspect-ratio: 1/1;
}

.u-hflex-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-radius-round {
  border-radius: var(--radius--round);
}

.u-button-style {
  position: relative;
  border: var(--border-width--main) solid var(--button--border);
  background-color: var(--button--background);
  transition: border-radius 400ms ease-in-out,border-color 400ms ease-in-out,color 400ms ease-in-out,background-color 400ms ease-in-out;
  color: var(--button--text);
}

.u-button-style:hover {
  border-color: var(--button--border-hover);
  background-color: var(--button--background-hover);
  color: var(--button--text-hover);
}

.u-button-style:active {
  transform: scale(0.99);
}

.u-position-relative {
  position: relative;
}

.btn_play_icon {
  width: 36%;
  aspect-ratio: 1/1;
}

.u-cover-absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.btn_play_pause {
  opacity: 0;
}