.nav_dropdown_sublink {
  width: 100%;
  padding-top: var(--size--0-125rem);
  padding-bottom: var(--size--0-125rem);
}

.u-text-large {
  font-family: var(--text-large--font-family);
  font-size: var(--text-large--font-size);
  line-height: var(--text-large--line-height);
  letter-spacing: var(--text-large--letter-spacing);
  font-weight: var(--text-large--font-weight);
  text-transform: var(--text-large--text-transform);

  text-wrap: pretty;
}

.u-hflex-left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.u-hflex-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-gap-large {
  grid-column-gap: var(--space--large);
  grid-row-gap: var(--space--large);
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

.nav_dropdown_icon_wrap {
  position: relative;
  width: var(--size--1-25rem);
  height: var(--size--1-25rem);
  flex: 0 0 auto;
  color: var(--swatch--brand);
}