.svg_map_wrap {
  position: relative;

  display: flex;
  max-height: 80dvh;
  padding: var(--size--2rem);
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;

  border-radius: var(--radius--main);

  background-color: var(--theme--border);
}

@media screen and (max-width: 767px) {
  .svg_map_wrap {
    min-height: 35rem;
  }
}

.u_shadow_main {
  box-shadow: 3px 10px 14px 1px var(--drop-shadow-2);
}

.svg_map_wrap.us_map {
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.us_map {
  width: 100%;
  height: 100%;
  flex: 1;
}

@media screen and (max-width: 991px) {
  .us_map {
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }
}

.svg_map_wrap.us_map_wrap {
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}