.hero_interal_features_contain.u-container {
  padding-top: var(--size--2rem);
  padding-bottom: var(--size--2rem);
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.hero_interal_features_contain.u-container.u-grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
}

@media screen and (max-width: 991px) {
  .hero_interal_features_contain.u-container.u-grid-autofit {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 14rem), 1fr));
  }
}

@media screen and (max-width: 767px) {
  .hero_interal_features_contain.u-container.u-grid-autofit {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 20rem), 1fr));
  }
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}