.services_tab_content_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.u-height-full {
  height: 100%;
}

.u-vflex-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.services_tab_content_wrap.u-vflex-left-top {
  height: 100%;
}

@media screen and (max-width: 991px) {
  .services_tab_content_wrap.u-vflex-left-top {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.services_tab_content_wrap.u-vflex-left-top.is-reversed {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.services_tab_content_wrap.u-grid-column-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

.services_tab_content_top.u-container {
  padding: var(--space--medium) var(--size--2rem);
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-left-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.services_tab_content_top.u-container.u-vflex-left-between.u-gap-medium {
  border-top-left-radius: var(--radius--main);
  border-top-right-radius: var(--radius--main);
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.services_tab_content_top.u-container.u-vflex-left-between.u-gap-medium.u-hflex-wrap {
  background-color: var(--theme--background);
}

.u-hflex-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.services_tab_content_top.u-container.u-vflex-left-between.u-gap-medium.u-hflex-wrap.tabs-color-blue {
  background-color: var(--swatch--tabs-color-red);
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.g_content_wrap {
  position: relative;
}

.g_content_wrap:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ab) {
  text-align: center;
}

.g_content_wrap:where(.w-variant-2cba535a-9c8c-98d9-45e0-4b7749d8be83) {
  text-align: center;
}

.u-text-align-center {
  text-align: center;
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

@media screen and (max-width: 767px) {
  .g_content_wrap.u-vflex-right-center {
    justify-content: center;
    align-items: center;
  }
}

.u-vflex-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: flex-end;
}

@media screen and (max-width: 767px) {
  .g_content_wrap.u-vflex-left-center {
    justify-content: center;
    align-items: center;
  }
}

.u-vflex-left-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-be0bb1ba-1494-fd40-1076-7d2f9218bbb0) {
  justify-content: flex-start;
  align-items: center;
}

.g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-71f736a8-9b36-b906-d9e6-a380a868a34b) {
  height: 100%;
  justify-content: space-between;
}

.g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ab) {
  justify-content: flex-start;
  align-items: center;
}

.g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ac) {
  height: 100%;
  justify-content: space-between;
}

.g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-2cba535a-9c8c-98d9-45e0-4b7749d8be83) {
  justify-content: flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-be0bb1ba-1494-fd40-1076-7d2f9218bbb0) {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ab) {
    justify-content: center;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-be0bb1ba-1494-fd40-1076-7d2f9218bbb0) {
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .g_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ab) {
    text-align: left;
  }
}

.g_content_wrap.u-vflex-left-top.u-gap-small.content-is-center {
  justify-content: flex-start;
  align-items: center;
}

.g_content_wrap.u-vflex-left-top.u-gap-small.v-flex-between {
  height: 100%;
  justify-content: space-between;
}

.category_name_wrap {
  border-bottom: var(--border-width--main) solid var(--button--border);
}

.category_name_wrap.u-gap-xsmall.u-hflex-left-stretch {
  margin-bottom: -1.5rem;
  text-transform: uppercase;
  white-space: break-spaces;
}

.u-hflex-left-stretch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}

.u-hflex-left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.g_eyebrow_text {
  margin-left: var(--space--small);
}

.u-text-main {
  font-family: var(--text-main--font-family);
  font-size: var(--text-main--font-size);
  line-height: var(--text-main--line-height);
  letter-spacing: var(--text-main--letter-spacing);
  font-weight: var(--text-main--font-weight);
  text-transform: var(--text-main--text-transform);

  text-wrap: pretty;
}

.u-text-h6 {
  font-family: var(--h6--font-family);
  font-size: var(--h6--font-size);
  line-height: var(--h6--line-height);
  letter-spacing: var(--h6--letter-spacing);
  font-weight: var(--h6--font-weight);
  text-transform: var(--h6--text-transform);

  text-wrap: balance;
}

@media screen and (max-width: 767px) {
  .text_content_wrap.u-vflex-right-center {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 767px) {
  .text_content_wrap.u-vflex-left-center {
    justify-content: center;
    align-items: center;
  }
}

.text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-be0bb1ba-1494-fd40-1076-7d2f9218bbb0) {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ab) {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-2cba535a-9c8c-98d9-45e0-4b7749d8be83) {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-be0bb1ba-1494-fd40-1076-7d2f9218bbb0) {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ab) {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-2cba535a-9c8c-98d9-45e0-4b7749d8be83) {
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}

@media screen and (max-width: 479px) {
  .text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-be0bb1ba-1494-fd40-1076-7d2f9218bbb0) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-f99d782e-7904-4669-bbbc-c74449fed4ab) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .text_content_wrap.u-vflex-left-top.u-gap-small:where(.w-variant-2cba535a-9c8c-98d9-45e0-4b7749d8be83) {
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.text_content_wrap.u-vflex-left-top.u-gap-small.content-is-center-4 {
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.heading_wrap {
  overflow-wrap: anywhere;
  text-wrap: pretty;
}

.u-text-display {
  font-family: var(--display--font-family);
  font-size: var(--display--font-size);
  line-height: var(--display--line-height);
  letter-spacing: var(--display--letter-spacing);
  font-weight: var(--display--font-weight);
  text-transform: var(--display--text-transform);

  text-wrap: balance;
}

.u-text-h4 {
  font-family: var(--h4--font-family);
  font-size: var(--h4--font-size);
  line-height: var(--h4--line-height);
  letter-spacing: var(--h4--letter-spacing);
  font-weight: var(--h4--font-weight);
  text-transform: var(--h4--text-transform);

  text-wrap: balance;
}

.paragraph_wrap.paragraph_columns {
  column-count: auto;
  column-width: 16rem;
}

.buttons_wrap {
  position: relative;
  z-index: 4;
}

.buttons_wrap.u-hflex-left-center {
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons_wrap.u-hflex-left-center.u-gap-small:where(.w-variant-b7227d48-bf9f-5d3b-6227-f0d4383dbf2b) {
  flex-direction: column;
  flex-wrap: nowrap;
}

.buttons_wrap.u-hflex-left-center.u-gap-small:where(.w-variant-ee212f6e-56f6-c0a9-abfe-0a4fb8d9387a) {
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .buttons_wrap.u-hflex-left-center.u-gap-small:where(.w-variant-b7227d48-bf9f-5d3b-6227-f0d4383dbf2b) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .buttons_wrap.u-hflex-left-center.u-gap-small:where(.w-variant-b7227d48-bf9f-5d3b-6227-f0d4383dbf2b) {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.buttons_wrap.u-hflex-left-center.u-gap-small.u-weight-semibold {
  margin-top: var(--space--small);
}

@media screen and (max-width: 479px) {
  .buttons_wrap.u-hflex-left-center.u-gap-small.u-weight-semibold {
    width: 100%;
  }
}

.u-weight-semibold {
  font-weight: 600;
}

.u-width-full {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .buttons_wrap.u-hflex-left-center.u-gap-small.u-weight-semibold.u-width-full.u-gap-large {
    padding-right: var(--size--2-5rem);
    padding-left: var(--size--5rem);
  }
}

.u-gap-large {
  grid-column-gap: var(--space--large);
  grid-row-gap: var(--space--large);
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.services_tab_image_wrap.u-visual-wrap {
  height: 100%;
  min-height: 26rem;
  padding: var(--h4--font-size);
  aspect-ratio: auto;
  border-radius: 0rem;
}

@media screen and (max-width: 767px) {
  .services_tab_image_wrap.u-visual-wrap {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 479px) {
  .services_tab_image_wrap.u-visual-wrap {
    aspect-ratio: 2/3;
  }
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.is-image-border {
  border: 5px solid var(--swatch--brand);
}