.faq_cms_item {
  height: 100%;
}

.faq_component {
  overflow: hidden;
  height: 100%;
  border-bottom-style: solid;
  border-bottom-width: 0.09rem;
}

.faq_toggle_heading {
  margin-top: 0px;
  margin-bottom: 0px;
}

.faq_toggle_button {
  display: flex;
  width: 100%;
  padding-top: 1.5rem;
  padding-right: 0rem;
  padding-bottom: 1.5rem;
  padding-left: 0rem;
  justify-content: space-between;
  align-items: center;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;

  background-color: transparent;

  text-align: inherit;
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.u-text-h5 {
  font-family: var(--h5--font-family);
  font-size: var(--h5--font-size);
  line-height: var(--h5--line-height);
  letter-spacing: var(--h5--letter-spacing);
  font-weight: var(--h5--font-weight);
  text-transform: var(--h5--text-transform);

  text-wrap: balance;
}

.faq_toggle_icon {
  position: relative;

  width: var(--size--1-5rem);
  flex: 0 0 auto;
  aspect-ratio: 1/1;

  pointer-events: none;

  transform: rotate(0deg);

  color: var(--swatch--brand);
}

.faq_content_padding {
  padding-bottom: 2rem;
}

.faq_content_text {
  max-width: 90ch;
}