.nav_menu_bottom_item {
  position: relative;

  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: var(--size--1-5rem);
  aspect-ratio: 1/1;

  text-align: left;
}

.u-vflex-left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

.menu_bottom_item_visual {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
}

.menu_bottom_item_content.u-vflex-left-bottom {
  flex: 1;
}

.menu_bottom_item_content.u-vflex-left-bottom.u-gap-xsmall {
  position: relative;
  z-index: 1;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.u-text-h4 {
  font-family: var(--h4--font-family);
  font-size: var(--h4--font-size);
  line-height: var(--h4--line-height);
  letter-spacing: var(--h4--letter-spacing);
  font-weight: var(--h4--font-weight);
  text-transform: var(--h4--text-transform);

  text-wrap: balance;
}