.logos_item {
  position: relative;
  min-height: var(--size--4-5rem);
  min-width: var(--size--12rem);
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.logos_item.u-visual-wrap.u-vflex-center-center {
  border-radius: 0rem;
}

.u-vflex-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}