.video_wrap {
  position: relative;
  width: 100%;
  padding-top: 57%;
}

.g_visual_video {
  object-position: inherit;
}

.u-cover-absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}