.services_tabs {
  padding: var(--space--small);
  border: 1px solid var(--swatch--light-secondary);
  font-weight: 500;
}

.u-hflex-left-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.services_tabs.u-hflex-left-top.u-gap-xsmall.u-width-full {
  overflow: hidden;
  padding: var(--size--1-5rem);
}

@media screen and (max-width: 991px) {
  .services_tabs.u-hflex-left-top.u-gap-xsmall.u-width-full {
    flex-direction: column;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 767px) {
  .services_tabs.u-hflex-left-top.u-gap-xsmall.u-width-full {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .services_tabs.u-hflex-left-top.u-gap-xsmall.u-width-full {
    padding: var(--size--1rem);
  }
}

.u-width-full {
  width: 100%;
}

.services_nav_tab.u-grid-autofit {
  padding-right: var(--size--0-75rem);
}

@media screen and (max-width: 767px) {
  .services_nav_tab.u-grid-autofit {
    display: flex;
    overflow: auto;
    width: 100%;
    padding-bottom: var(--size--0-75rem);
    grid-column-gap: var(--size--0-25rem);
    grid-row-gap: var(--size--0-25rem);

    white-space: nowrap;
  }
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

@media screen and (max-width: 991px) {
  .services_nav_tab.u-grid-autofit.u-weight-semibold {
    width: 100%;
    padding-right: var(--size--0rem);
    padding-bottom: var(--space--small);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
  }
}

@media screen and (max-width: 767px) {
  .services_nav_tab.u-grid-autofit.u-weight-semibold {
    grid-column-gap: var(--grid-gap--main);
    grid-row-gap: var(--grid-gap--main);
  }
}

.u-weight-semibold {
  font-weight: 600;
}

.services_tab_link {
  display: block;
  width: 100%;
  padding-top: var(--size--0-75rem);
  padding-bottom: var(--size--0-75rem);
  align-self: stretch;
  flex: 0 0 auto;

  border: var(--border-width--main) solid var(--swatch--light-secondary);

  background-color: var(--swatch--transparent);

  opacity: 0.73;

  white-space: nowrap;
}

.services_tab_link:global(.w--current) {
  border: var(--border-width--main) solid var(--swatch--brand);
  background-color: var(--swatch--brand);
  opacity: 1;
  color: var(--button--text);
}

@media screen and (max-width: 767px) {
  .services_tab_link {
    width: auto;
  }
}

@media screen and (max-width: 479px) {
  .services_tab_link {
    max-width: 105vw;
    min-width: auto;
  }
}

.services_tab_link.tab-color-purple:global(.w--current) {
  border-color: var(--swatch--purple);
  background-color: var(--swatch--tab-color-purple);
}

.no-wrap {
  flex: 0 0 auto;
}

.no-wrap.u-text-h4 {
  font-weight: 500;
}

.u-text-h4 {
  font-family: var(--h4--font-family);
  font-size: var(--h4--font-size);
  line-height: var(--h4--line-height);
  letter-spacing: var(--h4--letter-spacing);
  font-weight: var(--h4--font-weight);
  text-transform: var(--h4--text-transform);

  text-wrap: balance;
}

.u-text-h5 {
  font-family: var(--h5--font-family);
  font-size: var(--h5--font-size);
  line-height: var(--h5--line-height);
  letter-spacing: var(--h5--letter-spacing);
  font-weight: var(--h5--font-weight);
  text-transform: var(--h5--text-transform);

  text-wrap: balance;
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.services_tabs_pane_wrap {
  width: 100%;
  height: 100%;
  padding-left: var(--size--1-25rem);
  border-left: var(--border-width--main) solid var(--swatch--light-secondary);
}

@media screen and (max-width: 991px) {
  .services_tabs_pane_wrap {
    padding-top: var(--size--1-25rem);
    padding-left: var(--size--0rem);
    border-top: var(--border-width--main) solid var(--swatch--light-secondary);
    border-left-style: none;
  }
}

@media screen and (max-width: 767px) {
  .services_tabs_pane_wrap {
    padding-left: var(--size--0rem);
    border-top: var(--border-width--main) solid var(--swatch--light-secondary);
    border-left-style: none;
  }
}

#w-node-_5b7c9845-f2b4-cc97-3a6e-da53ce2bb727-ce2bb726 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}
@media screen and (max-width: 767px) {
  #w-node-_5b7c9845-f2b4-cc97-3a6e-da53ce2bb727-ce2bb726 {
    grid-column-end: span 1;
    grid-column-start: span 1;
    grid-row-end: span 1;
    grid-row-start: span 1;
    order: 9999;
  }
}