.services_tab_content_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.u-height-full {
  height: 100%;
}

.u-vflex-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.services_tab_content_wrap.u-vflex-left-top {
  height: 100%;
}

@media screen and (max-width: 991px) {
  .services_tab_content_wrap.u-vflex-left-top {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.services_tab_content_wrap.u-vflex-left-top.is-reversed {
  flex-direction: row-reverse;
  flex-wrap: nowrap;
}

.services_tab_content_wrap.u-grid-column-2 {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

.services_tab_content_top.u-container {
  padding: var(--space--medium) var(--size--2rem);
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-left-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.services_tab_content_top.u-container.u-vflex-left-between.u-gap-medium {
  border-top-left-radius: var(--radius--main);
  border-top-right-radius: var(--radius--main);
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.services_tab_content_top.u-container.u-vflex-left-between.u-gap-medium.u-hflex-wrap {
  background-color: var(--theme--background);
}

.u-hflex-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.services_tab_content_top.u-container.u-vflex-left-between.u-gap-medium.u-hflex-wrap.tabs-color-blue {
  background-color: var(--swatch--tabs-color-red);
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.u-hflex-left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-text-h3 {
  font-family: var(--h3--font-family);
  font-size: var(--h3--font-size);
  line-height: var(--h3--line-height);
  letter-spacing: var(--h3--letter-spacing);
  font-weight: var(--h3--font-weight);
  text-transform: var(--h3--text-transform);

  text-wrap: balance;
}

.u-text-h4 {
  font-family: var(--h4--font-family);
  font-size: var(--h4--font-size);
  line-height: var(--h4--line-height);
  letter-spacing: var(--h4--letter-spacing);
  font-weight: var(--h4--font-weight);
  text-transform: var(--h4--text-transform);

  text-wrap: balance;
}

.tab_content_layout.u-hflex-left-center.u-gap-xsmall.u-text-h4 {
  border-bottom: var(--border-width--main) solid var(--swatch--brand-secondary);
}

.tab_icon_wrap {
  position: relative;
  width: var(--size--1-5rem);
  height: var(--size--1-5rem);
  flex: 0 0 auto;
}

.tab_icon_wrap.is-smaller {
  width: var(--size--1rem);
  height: var(--size--1rem);
}

.services_tab_image_wrap.u-visual-wrap {
  height: 100%;
  min-height: 26rem;
  padding: var(--h4--font-size);
  aspect-ratio: auto;
  border-radius: 0rem;
}

@media screen and (max-width: 767px) {
  .services_tab_image_wrap.u-visual-wrap {
    aspect-ratio: 1/1;
  }
}

@media screen and (max-width: 479px) {
  .services_tab_image_wrap.u-visual-wrap {
    aspect-ratio: 2/3;
  }
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.is-image-border {
  border: 5px solid var(--swatch--brand);
}