.tabs_item_wrap {
  position: relative;
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.tabs_item_wrap.u-vflex-left-top.u-gap-xsmall {
  height: 100%;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.u-grid-custom {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-1);
}

.tab_item_visual.u-visual-wrap {
  border-radius: 0rem;
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.is-image-border {
  border: 5px solid var(--swatch--brand);
}

.tab_item_content {
  height: 100%;
  padding: var(--size--1-25rem) var(--size--2rem) var(--size--2rem) var(--size--1-5rem);
  flex: 1;
}

.u-vflex-left-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.tab_item_content.u-vflex-left-between.u-gap-medium {
  flex: 1;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}