.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.u-vflex-stretch-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-gap-row-medium {
  grid-row-gap: var(--space--medium);
}

.blog_navigation_layout.u-hflex-left-stretch {
  flex-direction: row;
  flex-wrap: wrap;
}

.u-hflex-left-stretch {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}

.blog_navigation_layout.u-hflex-left-stretch.u-gap-small:where(.w-variant-46dcd6f1-86e3-6653-d84b-c4babee091cb) {
  justify-content: flex-start;
  align-items: stretch;
}

@media screen and (max-width: 991px) {
  .blog_navigation_layout.u-hflex-left-stretch.u-gap-small {
    overflow: auto;
  }
}

@media screen and (max-width: 767px) {
  .blog_navigation_layout.u-hflex-left-stretch.u-gap-small {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

.blog_btn {
  display: flex;
  overflow: hidden;
  min-height: var(--size--3-5rem);
  padding: var(--size--0-75rem) var(--size--1-5rem);
  justify-content: center;
  align-items: center;

  background-color: var(--swatch--transparent);

  color: var(--button--background);
  line-height: 1;

  cursor: pointer;
}

.u-radius-round {
  border-radius: var(--radius--round);
}

.blog_btn.u-button-style {
  border-color: var(--theme--text);
  color: var(--theme--text);
}

.blog_btn.u-button-style:global(.w--current) {
  background-color: var(--button--background);
  color: var(--button--text);
}

.u-button-style {
  position: relative;
  border: var(--border-width--main) solid var(--button--border);
  background-color: var(--button--background);
  transition: border-radius 400ms ease-in-out,border-color 400ms ease-in-out,color 400ms ease-in-out,background-color 400ms ease-in-out;
  color: var(--button--text);
}

.u-button-style:hover {
  border-color: var(--button--border-hover);
  background-color: var(--button--background-hover);
  color: var(--button--text-hover);
}

.u-button-style:active {
  transform: scale(0.99);
}

.u-position-relative {
  position: relative;
}

.u-display-inline-block {
  display: inline-block;
}

.u-radius-main {
  border-radius: var(--radius--main);
}

.blog_btn.u-button-style.u-radius-main.u-position-relative.u-display-inline-block {
  text-align: center;
}

.blog_btn.u-button-style.u-position-relative.u-display-inline-block {
  align-self: stretch;
  text-align: center;
}

.u-text-transform-uppercase {
  text-transform: uppercase;
}

.blog_btn.u-button-style.u-position-relative.u-display-inline-block.u-text-transform-uppercase.u-weight-bold:hover {
  border-color: var(--swatch--brand);
  background-color: var(--button--background);
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.u-text-small {
  font-family: var(--text-small--font-family);
  font-size: var(--text-small--font-size);
  line-height: var(--text-small--line-height);
  letter-spacing: var(--text-small--letter-spacing);
  font-weight: var(--text-small--font-weight);
  text-transform: var(--text-small--text-transform);

  text-wrap: pretty;
}

.blog_btn.u-button-style.u-position-relative.u-display-inline-block.is-small {
  padding: var(--size--0-5rem) var(--size--1rem);
}

.button-block-25 {
  position: relative;

  display: flex;
  overflow: hidden;
  min-height: 3rem;
  padding: 0.5rem 1.5rem;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0.00%, 94.00%, 0.20);
  border-radius: 100vw;

  color: hsla(0, 0.00%, 94.00%, 1.00);
  text-decoration: none;
}

.btn_scale {
  transition: all 300ms ease-in-out;
}

.btn_scale:hover {
  transform: scale(1.05);
}

.btn_scale:active {
  transform: scale(0.95);
}

.blog_btn.btn_scale.is-submit {
  position: relative;

  padding-right: 3.5rem;

  background-image: url("https://cdn.prod.website-files.com/67a464bc7184fcb8aacb0e8d/67a464bc7184fcb8aacb0f25_svgviewer-output%20(22).svg");
  background-position: 92% 50%;
  background-size: 2rem 2rem;
  background-repeat: no-repeat;
  background-attachment: scroll;
}

.blog_btn.btn_scale.is-submit:hover {
  background-color: hsla(0, 0.00%, 100.00%, 0.00);
  color: white;
}

.blog_btn_layout {
  margin-right: auto;
  margin-left: auto;
  flex: 1;
}

.u-hflex-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.btn_main_text {
  position: relative;
  z-index: 2;
}

.btn_main_text.u-weight-bold {
  white-space: nowrap;
}

@media screen and (max-width: 479px) {
  .btn_main_text.u-weight-bold {
    white-space: normal;
  }
}

.blog_list {
  grid-auto-columns: 1fr;
}

.blog_list.u-grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

@media screen and (max-width: 991px) {
  .blog_list.u-grid-autofit {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
  }
}

@media screen and (max-width: 767px) {
  .blog_list.u-grid-autofit {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 8rem), 1fr));
  }
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

#w-node-_1a961288-ac6e-7a11-805f-290841ea0bdb-41ea0bc9 {
  grid-column-start: span 2;
  grid-column-end: span 2;
}