.nav_dropdown_content_wrap {
  width: 100%;
}

@media screen and (max-width: 991px) {
  .nav_dropdown_contain {
    padding: 1.2rem 0px;
  }
}

.nav_dropdown_contain.u-container {
  padding: var(--size--0rem) 0rem var(--padding-vertical--none);
}

@media screen and (max-width: 991px) {
  .nav_dropdown_contain.u-container {
    padding-top: var(--size--0rem);
    padding-bottom: var(--size--1rem);
  }
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-hflex-between-stretch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
  align-content: stretch;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

@media screen and (max-width: 991px) {
  .nav_dropdown_contain.u-container.u-hflex-between-stretch.u-gap-xsmall.u-gap-small.nav_menu_link_list-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
  }
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

@media screen and (max-width: 479px) {
  .nav_dropdown_contain.u-container.u-hflex-between-stretch.u-gap-xsmall.u-gap-small.footer_menu_list-2.u-hflex-left-center {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
  }
}

.u-hflex-left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.nav_dropdown_contain.u-container.u-hflex-between-stretch.u-gap-xsmall.u-container {
  padding-top: var(--size--1rem);
  padding-bottom: var(--size--1rem);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
}

.nav_dropdown_layout {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 16rem), 1fr));
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

.u-gap-row-small {
  grid-row-gap: var(--space--small);
}

.u-vflex-stretch-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.u-text-large {
  font-family: var(--text-large--font-family);
  font-size: var(--text-large--font-size);
  line-height: var(--text-large--line-height);
  letter-spacing: var(--text-large--letter-spacing);
  font-weight: var(--text-large--font-weight);
  text-transform: var(--text-large--text-transform);

  text-wrap: pretty;
}

.footer_nav_list {
  width: 100%;
}

.footer_nav_list.u-hflex-left-center.u-gap-small {
  grid-column-gap: var(--size--1-5rem);
  grid-row-gap: var(--size--1-5rem);
}

.footer_nav_list.u-grid-autofit {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--extra-small);
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 22rem), 1fr));
}

.u-grid-column-3 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-3);
}

@media screen and (max-width: 767px) {
  .u-grid-column-3 {
    grid-template-columns: var(--grid-1);
  }
}

.footer_nav_list.u-grid-column-3.u-gap-xsmall {
  grid-column-gap: var(--space--large);
}

@media screen and (max-width: 991px) {
  .footer_nav_list.u-grid-column-3.u-gap-xsmall {
    grid-template-columns: var(--grid-2);
  }
}

@media screen and (max-width: 479px) {
  .footer_nav_list.u-grid-column-3.u-gap-xsmall {
    grid-template-columns: var(--grid-1);
  }
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

.footer_nav_list.u-grid-column-2.u-gap-xsmall {
  grid-column-gap: var(--space--large);
}

.nav_list_item {
  white-space: nowrap;
}