.timeline_wrap {
  position: absolute;
  left: auto;
  top: 0%;
  right: auto;
  bottom: 0%;

  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .timeline_wrap {
    left: 0%;
  }
}

.timeline_circle {
  position: sticky;
  top: 50%;
  z-index: 6;

  width: var(--size--6rem);
  height: var(--size--6rem);
  margin-top: var(--size--2-5rem);
  margin-bottom: var(--size--2-5rem);
  align-self: auto;

  background-color: var(--theme--background);

  color: var(--swatch--brand);
}

@media screen and (max-width: 767px) {
  .timeline_circle {
    width: var(--size--4-5rem);
    height: var(--size--4-5rem);
  }
}

.timeline {
  position: absolute;
  left: auto;
  top: 0%;
  right: auto;
  bottom: 0%;
  z-index: 5;

  width: 5px;
  height: 100%;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;

  border-radius: var(--radius--round);

  background-image: linear-gradient(180deg, var(--swatch--transparent), var(--swatch--brand) 3%, var(--swatch--brand) 97%, var(--swatch--transparent));
}

.timeline.white {
  background-color: var(--theme--background);
  background-image: none;
}

#w-node-b885dd4f-8509-b5a4-780c-e4d7b201da4d-b201da4c {
  justify-self: center;
  align-self: start;
}