.team_members_cms_img {
  position: relative;

  width: 100%;
  height: 100%;
  max-height: 80vh;
  min-height: 40rem;
  flex: 0 0 auto;
  aspect-ratio: 2/3;

  border-radius: var(--radius--main);

  cursor: pointer;
  object-fit: cover;
}

.team_member_image_wrap.u-visual-wrap {
  height: 100%;
  max-height: 80vh;
  min-height: 40rem;
  aspect-ratio: auto;

  object-fit: cover;
  object-position: 50% 30%;
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.team_member_overlay {
  overflow: hidden;
  padding: var(--size--1-5rem);
  border-radius: var(--radius--main);
}

.u-cover-absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.u-hflex-between-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: flex-end;
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

.team_member_overlay_content {
  position: relative;
  z-index: 1;
}

.u-text-h4 {
  font-family: var(--h4--font-family);
  font-size: var(--h4--font-size);
  line-height: var(--h4--line-height);
  letter-spacing: var(--h4--letter-spacing);
  font-weight: var(--h4--font-weight);
  text-transform: var(--h4--text-transform);

  text-wrap: balance;
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.u-vflex-left-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.u-text-h2 {
  font-family: var(--h2--font-family);
  font-size: var(--h2--font-size);
  line-height: var(--h2--line-height);
  letter-spacing: var(--h2--letter-spacing);
  font-weight: var(--h2--font-weight);
  text-transform: var(--h2--text-transform);

  text-wrap: balance;
}

.team_member_title.g_styled_bold {
  max-width: 32ch;
  font-size: var(--text-small--font-size);
  line-height: var(--line-height--1-3em);
}

.g_styled_bold {
  display: inline-block;
  font-weight: 900;
  text-transform: uppercase;
}

.team_member_title.g_styled_bold.u-text-h4 {
  max-width: 20ch;
}

.team_hover_btn {
  position: absolute;
  left: auto;
  top: auto;
  right: var(--size--1rem);
  bottom: var(--size--1rem);
  z-index: 1;

  width: var(--size--4rem);
  height: var(--size--4rem);

  border-radius: var(--radius--round);

  background-color: var(--swatch--brand);

  color: var(--swatch--light);

  cursor: pointer;
}

.team_hover_btn_item {
  position: absolute;
  left: var(--size--0-5rem);
  top: var(--size--0-5rem);
  right: var(--size--0-5rem);
  bottom: var(--size--0-5rem);
}

.img_overlay {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
}

.img_overlay.g_visual_overlay {
  background-color: var(--swatch--transparent);
  background-image: linear-gradient(360deg, var(--swatch--dark), var(--swatch--transparent) 40%);
  opacity: 0.35;
}

.g_visual_overlay {
  background-color: hsla(0, 0.00%, 0.00%, 1.00);
  object-position: inherit;
}

.team_hover_wrap {
  padding: var(--size--2-5rem);
  border: var(--border-width--main) solid var(--theme--border);
  border-radius: var(--radius--main);
  background-color: var(--swatch--dark);
  color: var(--swatch--light);
}

.u-hflex-left-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: flex-end;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.team_hover_wrap.u-vflex-left-bottom {
  z-index: 2;
}

.spacer-xsmall {
  width: 100%;
  padding-top: var(--size--2rem);
}

@media screen and (max-width: 767px) {
  .spacer-xsmall {
    padding-top: var(--space--medium);
  }
}