.lottie_background_wrap {
  position: fixed;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;

  width: 100svw;
  height: 100svh;

  opacity: 0.11;
}

.lottie_background {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100svw;
  height: 100svh;
}