.g_visual_wrap {
  object-position: inherit;
}

.g_visual_wrap.u-cover-absolute {
  object-fit: cover;
}

.u-cover-absolute {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  width: 100%;
  height: 100%;
}

.g_visual_wrap.u-visual-wrap {
  min-height: 20rem;
  aspect-ratio: auto;
}

.g_visual_wrap.u-visual-wrap:where(.w-variant-8ae56eea-3a0b-6562-4559-93679cd03722) {
  aspect-ratio: 3/2;
}

.g_visual_wrap.u-visual-wrap:where(.w-variant-23b4ddba-80e6-7927-a5d7-8566d9f517c5) {
  aspect-ratio: 16/9;
}

.g_visual_wrap.u-visual-wrap:where(.w-variant-12e825c2-2861-8231-73a4-9141f85d6ade) {
  aspect-ratio: 2/3;
}

.g_visual_wrap.u-visual-wrap:where(.w-variant-aa560c33-2d9e-2205-5a0b-28f79fbe16dd) {
  aspect-ratio: 1/1;
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.g_visual_background {
  opacity: 0.1;
  background-color: currentColor;
  object-position: inherit;
}

.g_visual_img {
  object-position: inherit;
}

@media screen and (max-width: 767px) {
  .g_visual_img {
    height: 100%;
  }
}

.g_visual_img.is-position-top {
  height: 100%;
  object-position: 50% 15%;
}

.g_visual_img.is-contain {
  object-fit: contain;
}

@media screen and (max-width: 767px) {
  .g_visual_img.is-contain {
    overflow: visible;
  }
}

.g_visual_video {
  object-position: inherit;
}

.g_visual_overlay {
  background-color: hsla(0, 0.00%, 0.00%, 1.00);
  object-position: inherit;
}

.g_visual_overlay.u-cover-absolute.gradient-background {
  background-image: linear-gradient(265deg, var(--swatch--dark) 58%, var(--swatch--transparent));
}

.gradient-background {
  position: relative;
  min-height: var(--size--8rem);
  background-image: linear-gradient(24deg, var(--swatch--brand), var(--swatch--drop-shadow));
}