.close_icon {
  position: absolute;
  left: auto;
  top: -1.5rem;
  right: -1.5rem;
  bottom: auto;
  z-index: 10;

  width: var(--size--3rem);
  height: var(--size--3rem);

  border-radius: var(--radius--round);

  background-color: var(--swatch--brand);

  color: var(--swatch--light);
}

@media screen and (max-width: 767px) {
  .close_icon {
    top: -1rem;
    right: -1rem;
  }
}