.features_tabs_content {
  position: relative;
}

.features_tabs_contain {
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-stretch-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

@media screen and (max-width: 767px) {
  .features_tab.u-hflex-left-top.u-gap-xsmall.u-width-full.u-gap-large {
    padding-right: var(--size--2-5rem);
    padding-left: var(--size--5rem);
  }
}

.u-gap-large {
  grid-column-gap: var(--space--large);
  grid-row-gap: var(--space--large);
}

.features_tab_wrap {
  width: 100%;
}

.features_tab {
  padding: var(--size--1-5rem);
  border: 1px solid var(--swatch--light-secondary);
  font-weight: 500;
}

.u-hflex-left-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.features_tab.u-hflex-left-top.u-gap-xsmall.u-width-full {
  overflow: hidden;
  padding: var(--size--1-5rem);
}

@media screen and (max-width: 767px) {
  .features_tab.u-hflex-left-top.u-gap-xsmall.u-width-full {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 479px) {
  .features_tab.u-hflex-left-top.u-gap-xsmall.u-width-full {
    padding: var(--size--1rem);
  }
}

.u-width-full {
  width: 100%;
}

.u-vflex-center-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.features_tab.u-vflex-left-top.u-gap-small {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
  background-color: var(--swatch--light);
}

@media screen and (max-width: 991px) {
  .features_tab.u-vflex-left-top.u-gap-small {
    grid-column-gap: var(--space--small);
    grid-row-gap: var(--space--small);
  }
}

@media screen and (max-width: 767px) {
  .features_tab.u-vflex-left-top.u-gap-small {
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
  }
}

@media screen and (max-width: 479px) {
  .features_tab.u-vflex-left-top.u-gap-small {
    padding: var(--size--1rem);
  }
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

.featured_tab_wrap.u-grid-autofit {
  padding-right: var(--size--0-75rem);
}

@media screen and (max-width: 767px) {
  .featured_tab_wrap.u-grid-autofit {
    display: flex;
    overflow: auto;
    width: 100%;
    padding-bottom: var(--size--0-75rem);
    grid-column-gap: var(--size--0-25rem);
    grid-row-gap: var(--size--0-25rem);

    white-space: nowrap;
  }
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

@media screen and (max-width: 991px) {
  .featured_tab_wrap.u-grid-autofit.u-weight-semibold {
    width: 100%;
    padding-right: var(--size--0rem);
    padding-bottom: var(--space--small);
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
  }
}

@media screen and (max-width: 767px) {
  .featured_tab_wrap.u-grid-autofit.u-weight-semibold {
    grid-column-gap: var(--grid-gap--main);
    grid-row-gap: var(--grid-gap--main);
  }
}

.u-weight-semibold {
  font-weight: 600;
}

.featured_tab_wrap.u-grid-autofit.u-width-full {
  padding-right: var(--size--0rem);
  justify-items: start;
}

@media screen and (max-width: 767px) {
  .featured_tab_wrap.u-grid-autofit.u-width-full {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: var(--size--0-75rem);
    grid-row-gap: var(--size--0-75rem);
  }
}

.features_tab_link {
  width: 100%;
  padding-top: var(--size--1rem);
  padding-bottom: var(--size--1rem);
  align-self: stretch;
  flex: 0 0 auto;

  border: var(--border-width--main) solid var(--swatch--light-secondary);
  border-radius: var(--size--0-25rem);

  background-color: var(--swatch--transparent);

  opacity: 0.8;
}

.features_tab_link:global(.w--current) {
  border-left-color: var(--swatch--transparent);
  background-color: var(--swatch--brand);
  opacity: 1;
  color: var(--swatch--light);
}

@media screen and (max-width: 767px) {
  .features_tab_link {
    width: auto;
  }
}

@media screen and (max-width: 767px) {
  .features_tab_link.tab-color-blue.u-vflex-left-top.u-gap-xsmall {
    padding-top: var(--size--1-25rem);
    padding-bottom: var(--size--1-25rem);
  }
}

@media screen and (max-width: 479px) {
  .features_tab_link.tab-color-blue.u-vflex-left-top.u-gap-xsmall {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: var(--space--small);
    grid-row-gap: var(--space--small);
  }
}

.features_tab_link.u-hflex-left-top.u-gap-small {
  padding: var(--size--1-25rem);
}

.features_tab_link.u-hflex-left-top.u-gap-small.btn_border:global(.w--current) {
  background-color: var(--swatch--brand);
  color: var(--swatch--light);
}

.btn_border {
  border: var(--border-width--main) solid var(--swatch--light);
  border-radius: var(--radius--main);
}

@media screen and (max-width: 479px) {
  .tab_wrap.u-hflex-left-top.u-gap-small {
    justify-content: flex-start;
    align-items: center;
  }
}

.features_tab_image.u-visual-wrap {
  width: var(--size--4-5rem);
  height: var(--size--4-5rem);
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.faetures_tab_link_layout {
  border-bottom: var(--border-width--main) solid var(--theme--border);
}

.u-hflex-left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 479px) {
  .faetures_tab_link_layout.u-hflex-left-center.u-gap-xsmall {
    flex-direction: column;
    flex-wrap: nowrap;
    grid-column-gap: var(--space--small);
    grid-row-gap: var(--space--small);
  }
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.no-wrap {
  flex: 0 0 auto;
}

.no-wrap.u-text-h4 {
  font-weight: 500;
}

.u-text-h4 {
  font-family: var(--h4--font-family);
  font-size: var(--h4--font-size);
  line-height: var(--h4--line-height);
  letter-spacing: var(--h4--letter-spacing);
  font-weight: var(--h4--font-weight);
  text-transform: var(--h4--text-transform);

  text-wrap: balance;
}

.u-text-h5 {
  font-family: var(--h5--font-family);
  font-size: var(--h5--font-size);
  line-height: var(--h5--line-height);
  letter-spacing: var(--h5--letter-spacing);
  font-weight: var(--h5--font-weight);
  text-transform: var(--h5--text-transform);

  text-wrap: balance;
}

@media screen and (max-width: 479px) {
  .features_tab_link_paragraph {
    display: none;
  }
}

.features_tabs_pane_wrap {
  width: 100%;
  height: 100%;
}

.feautred_tabs_pane {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 991px) {
  .feautred_tabs_pane {
    padding-top: var(--size--1-25rem);
    padding-left: var(--size--0rem);
    border-top: var(--border-width--main) solid var(--swatch--light-secondary);
  }
}

@media screen and (max-width: 767px) {
  .feautred_tabs_pane {
    padding-left: var(--size--0rem);
    border-top: var(--border-width--main) solid var(--swatch--light-secondary);
    border-left-style: none;
  }
}

.tabs_content_contain.u-grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 18rem), 1fr));
}

.u-vflex-stretch-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.tabs_content_cms_grid.u-grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 24rem), 1fr));
}

.u-hflex-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.style_hide_psuedo_element_tab {
  display: none;
}

@media screen and (min-width: 1440px) {
  .style_hide_psuedo_element_tab {
    display: none;
  }
}

#w-node-_9d2e0ce3-15d6-80ea-2f26-80dc201a7a32-201a7a23 {
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-row-start: 1;
}
@media screen and (max-width: 767px) {
  #w-node-_9d2e0ce3-15d6-80ea-2f26-80dc201a7a32-201a7a23 {
    grid-column-end: span 1;
    grid-column-start: span 1;
    grid-row-end: span 1;
    grid-row-start: span 1;
    order: 9999;
  }
}