.hero_interal_wrap {
  overflow: hidden;
}

.hero_interal_wrap.is-background-color {
  background-color: var(--theme--background);
}

@media screen and (max-width: 991px) {
  .hero_interal_contain.u-container {
    padding-top: var(--size--13rem);
  }
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-left-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.hero_interal_contain.u-container.u-vflex-left-center.u-gap-row-small {
  z-index: 0;
}

.u-gap-row-small {
  grid-row-gap: var(--space--small);
}

.hero_interal_contain.u-container.u-vflex-stretch-top {
  padding-bottom: var(--padding-vertical--small);
}

@media screen and (max-width: 479px) {
  .hero_interal_contain.u-container.u-vflex-stretch-top {
    padding-top: var(--padding-vertical--large);
    padding-bottom: var(--size--3rem);
  }
}

.u-vflex-stretch-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.hero_interal_contain.u-container.is-special-spacing {
  padding-top: var(--padding-vertical--large);
  padding-bottom: var(--padding-vertical--small);
}

.hero_interal_contain.u-container.is-background-image {
  padding-top: var(--size--16rem);
}

.hero_interal_layout.u-grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 30rem), 1fr));
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

.u-gap-large {
  grid-column-gap: var(--space--large);
  grid-row-gap: var(--space--large);
}

.u-height-screen {
  min-height: 100svh;
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

.hero_interal_layout.u-grid-column-2.u-gap-large:where(.w-variant-e1bcaf97-9066-6e7d-5e43-01120db3f82a) {
  display: flex;
}

.u-vflex-stretch-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: stretch;
}

.internal_page_content_wrap.u-vflex-stretch-center.u-gap-medium:where(.w-variant-16546072-0fdd-83c5-accd-c45072e2f3c1) {
  justify-content: flex-start;
  align-items: stretch;
}

.linkedin_icon_wrap {
  color: var(--theme--text);
}

.internal_page_visual_wrap {
  position: relative;
  overflow: visible;
  min-height: 75vh;
  container-type: size;
}

.internal_page_visual_wrap:where(.w-variant-e1bcaf97-9066-6e7d-5e43-01120db3f82a) {
  display: none;
}

@media screen and (max-width: 767px) {
  .internal_page_visual_wrap {
    overflow: hidden;
  }
}

.internal_page_visual_layout {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;

  display: flex;
  width: 100%;
  height: 100%;
  grid-column-gap: 5cqw;
}

.internal_page_visual_column {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
}

.internal_page_visual_track {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;

  animation-name: internal_page_visual_timeline;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-direction: normal;
  will-change: transform;
}

.internal_page_visual_track.is-reversed {
  animation-direction: reverse;
}

.internal_page_visual_cms_wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-wrap: nowrap;
  flex: 0 0 auto;
}

.internal_page_visual_cms_list {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: nowrap;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  min-height: 100cqh;
}

.internal_page_visual_cms_item {
  width: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  padding-bottom: 5cqw;
}

.internal_page_visual_embed {
  display: none;
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.u-height-full {
  height: 100%;
}

.internal_page_background_visual {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: -1;
}

.internal_page_background_visual.u-visual-wrap {
  aspect-ratio: auto;
  border-radius: 0rem;
}

#w-node-d77cf1b1-b11f-95c3-e785-f624b0f591fe-f6c321ac {
}
#w-node-_11beeb26-2817-764e-2c0f-5b5c68bcb261-f6c321ac {
  align-self: stretch;
}
@media screen and (min-width: 1440px) {
  #w-node-d77cf1b1-b11f-95c3-e785-f624b0f591fe-f6c321ac {
  }
}
@media screen and (max-width: 991px) {
  #w-node-_11beeb26-2817-764e-2c0f-5b5c68bcb261-f6c321ac {
  }
}