.team_members_contain.u-container {
  padding-right: var(--padding-vertical--none);
  padding-bottom: var(--space--medium);
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.team_members_content {
  padding-right: var(--padding-horizontal--main);
}

.team_members_wrap {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
}

.team_members_trim {
  margin-left: -0.6rem;
  padding-top: var(--size--2rem);
}

.team_members_cms_wrap.swiper {
  overflow: visible;
  width: 100%;
  max-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
}

.team_members_cms_list.swiper-wrapper {
  display: flex;
  justify-content: flex-start;
}

.team_members_cms_item.swiper-slide {
  display: flex;
  overflow: hidden;
  width: 40%;
  height: 100%;
  padding-top: var(--size--2rem);
  padding-right: var(--size--2rem);
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 0 auto;
}

@media screen and (min-width: 1440px) {
  .team_members_cms_item.swiper-slide {
    width: 35%;
  }
}

@media screen and (max-width: 991px) {
  .team_members_cms_item.swiper-slide {
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  .team_members_cms_item.swiper-slide {
    width: 55%;
  }
}

@media screen and (max-width: 479px) {
  .team_members_cms_item.swiper-slide {
    width: 83%;
  }
}

.swiper-slide {
  width: 100%;
}

.team_members_layout {
  display: flex;
  padding-right: var(--padding-horizontal--main);
  padding-left: var(--padding-horizontal--main);
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
}

.team_members_bullet_wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  pointer-events: auto;

  width: auto !important;
}

.team_members_bullet_item {
  width: var(--size--1rem);
  min-width: 0px;
  padding: 0px;
  aspect-ratio: 1/1;

  border: var(--border-width--main) solid var(--theme--text);
  border-radius: var(--radius--round);

  background-color: hsla(0, 0.00%, 93.33%, 0.00);
}

.team_members_bullet_item.is-active {
  background-color: var(--swatch--brand);
}

.team_members_btn_layout {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;
}

.team_members_btn_element {
  position: relative;
  z-index: 5;

  display: flex;
  width: var(--size--4rem);
  height: var(--size--4rem);
  padding-right: var(--size--0-5rem);
  padding-left: var(--size--0-5rem);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius--round);

  background-color: var(--swatch--brand);

  pointer-events: auto;

  color: var(--swatch--light);

  cursor: pointer;
}

.team_members_btn_element.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.team_members_btn_element.is-prev {
  transform: rotate(-180deg);
}

.team_members_js {
  display: none;
}