.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-left-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

@media screen and (max-width: 991px) {
  .work_with_contain.u-container.u-grid-column-2.u-gap-large {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    grid-template-columns: var(--grid-1);
  }
}

.u-gap-large {
  grid-column-gap: var(--space--large);
  grid-row-gap: var(--space--large);
}

@media screen and (max-width: 991px) {
  .work_with_contain.u-container.u-grid-column-2.u-gap-large.is-revered {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

.u-hflex-center-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-hflex-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.u-gap-row-none {
  grid-row-gap: var(--size--0rem);
}

.work_with_logos_wrap.u-visual-wrap {
  overflow: visible;
  height: 100%;
  min-height: 35rem;
  aspect-ratio: auto;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

.work_with_logos_wrap.u-visual-wrap.is-image-border {
  border-radius: 0rem;
}

.is-image-border {
  border: 5px solid var(--swatch--brand);
}

.u-order-first {
  order: -1;
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.about_icons_wrap.u-grid-autofit {
  align-self: stretch;
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

.about_icon_content {
  background-color: var(--theme--background);
}

.u-hflex-left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.about_icon_content.u-hflex-left-center.u-gap-small {
  padding: var(--size--1-25rem);
  border: var(--border-width--main) solid var(--swatch--light-secondary);
}

@media screen and (max-width: 479px) {
  .about_icon_content.u-hflex-left-center.u-gap-small {
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: flex-start;
  }
}

.about_icon.u-visual-wrap {
  width: var(--size--8-5rem);
  height: var(--size--8-5rem);
  flex: 0 0 auto;
  color: var(--swatch--brand);
}

@media screen and (max-width: 479px) {
  .about_icon.u-visual-wrap {
    width: var(--size--13rem);
    height: var(--size--13rem);
    margin-left: -5px;
  }
}

.u-vflex-left-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.icon_text_content.u-vflex-left-between.u-gap-small {
  padding-left: var(--size--0-25rem);
  flex: 1;
}

.about_icon_heading_wrap {
  padding-bottom: var(--size--0-75rem);
}

.about_icon_heading_wrap.u-text-h5 {
  border-bottom: var(--svg-stroke-width--main) solid var(--swatch--brand);
}

.u-text-h5 {
  font-family: var(--h5--font-family);
  font-size: var(--h5--font-size);
  line-height: var(--h5--line-height);
  letter-spacing: var(--h5--letter-spacing);
  font-weight: var(--h5--font-weight);
  text-transform: var(--h5--text-transform);

  text-wrap: balance;
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.u-text-h6 {
  font-family: var(--h6--font-family);
  font-size: var(--h6--font-size);
  line-height: var(--h6--line-height);
  letter-spacing: var(--h6--letter-spacing);
  font-weight: var(--h6--font-weight);
  text-transform: var(--h6--text-transform);

  text-wrap: balance;
}