.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-grid-column-3 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-3);
}

@media screen and (max-width: 767px) {
  .u-grid-column-3 {
    grid-template-columns: var(--grid-1);
  }
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

@media screen and (max-width: 767px) {
  .scholarship_content.u-column-2 {
    grid-column-end: span 1;
  }
}

.u-column-2 {
  grid-column-start: auto;
  grid-column-end: span 2;
}

@media screen and (max-width: 767px) {
  .scholarship_content.u-column-3 {
    grid-column-end: span 1;
  }
}

.u-column-3 {
  grid-column-start: auto;
  grid-column-end: span 3;
}

.scholarship_visual.u-visual-wrap {
  min-height: 22rem;
  aspect-ratio: auto;
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

#w-node-_938c5040-fe4c-5822-4b20-37e10954071c-635b7a82 {
  align-self: center;
}
#w-node-_705f2237-8286-c636-0e8e-1548ee4aed3e-635b7a82 {
}