.services_tab_wrap {
  position: relative;
  align-self: flex-start;
}

.services_contain {
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-center-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.services_contain.u-container.u-vflex-center-top.u-gap-row-small {
  z-index: 0;
}

.u-gap-row-small {
  grid-row-gap: var(--space--small);
}

.u-gap-large {
  grid-column-gap: var(--space--large);
  grid-row-gap: var(--space--large);
}

.u-vflex-left-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

@media screen and (max-width: 767px) {
  .services_contain.u-vflex-left-top.u-gap-xsmall {
    overflow: auto;
    min-height: var(--size--4rem);
    padding-bottom: var(--size--1rem);
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.services_collection_wrap {
  padding: var(--size--2rem);
  align-self: stretch;
  background-color: var(--swatch--light);
}

@media screen and (min-width: 1440px) {
  .services_collection_wrap {
    background-color: var(--swatch--light);
  }
}

@media screen and (max-width: 767px) {
  .services_collection_wrap {
    padding: var(--size--1rem);
  }
}

.services_collection_list.u-grid-autofit {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 26rem), 1fr));
}

.u-grid-autofit {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 13rem), 1fr));
}

.services_collection_list.u-grid-column-2 {
  grid-template-columns: var(--grid-1);
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

.style_hide_psuedo_element_tab {
  display: none;
}

@media screen and (min-width: 1440px) {
  .style_hide_psuedo_element_tab {
    display: none;
  }
}