.split_hero_wrap {
  position: relative;
}

.u-grid-column-2 {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-2);
}

@media screen and (max-width: 767px) {
  .u-grid-column-2 {
    grid-template-columns: var(--grid-1);
  }
}

.u-gap-none {
  grid-column-gap: var(--size--0rem);
  grid-row-gap: var(--size--0rem);
}

.u-height-screen {
  min-height: 100svh;
}

.split_hero_item_wrap {
  position: relative;
}

.u-vflex-right-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: flex-end;
}

.split_hero_contain.u-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .split_hero_contain.u-container {
    justify-content: flex-start;
    align-items: center;
  }
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-left-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.split_hero_contain.u-container.u-vflex-left-center.u-gap-row-small {
  z-index: 0;
}

.u-gap-row-small {
  grid-row-gap: var(--space--small);
}

.split_hero_contain.u-container.u-vflex-center-center {
  min-height: 100svh;
  padding-bottom: var(--padding-vertical--small);
}

@media screen and (max-width: 479px) {
  .split_hero_contain.u-container.u-vflex-center-center {
    padding-top: var(--padding-vertical--large);
    padding-bottom: var(--size--3rem);
  }
}

.u-vflex-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

@media screen and (max-width: 767px) {
  .split_hero_contain.u-container.u-vflex-right-center.u-height-screen {
    min-height: 55svh;
  }
}

.split_hero_contain.u-container.u-width-full {
  max-width: var(--max-width--none);
}

.u-width-full {
  width: 100%;
}

.split_hero_slider_arrow {
  display: flex;
  width: var(--size--4rem);
}

@media screen and (max-width: 991px) {
  .split_hero_slider_arrow {
    width: var(--size--5rem);
  }
}

@media screen and (max-width: 767px) {
  .split_hero_slider_arrow {
    margin-bottom: var(--size--1-25rem);
  }
}

.split_hero_slider_arrow.is-left {
  transform: rotate(180deg);
}

.arrow_wrap.u-visual-wrap {
  display: flex;
  width: var(--size--3rem);
  height: var(--size--3rem);
  padding: var(--size--0-5rem) var(--size--0-25rem) var(--size--0-5rem) var(--size--0-5rem);
  justify-content: center;
  align-items: center;
  align-self: center;
  aspect-ratio: auto;

  border-radius: var(--radius--round);

  background-color: var(--swatch--brand);
}

@media screen and (max-width: 767px) {
  .arrow_wrap.u-visual-wrap {
    align-self: flex-end;
  }
}

@media screen and (max-width: 479px) {
  .arrow_wrap.u-visual-wrap {
    align-self: flex-end;
  }
}

.u-visual-wrap {
  position: relative;
  overflow: hidden;
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: var(--radius--main);
}

@media screen and (max-width: 767px) {
  .arrow_wrap.u-visual-wrap.is-left {
    align-self: flex-start;
  }
}

@media screen and (max-width: 479px) {
  .arrow_wrap.u-visual-wrap.is-left {
    align-self: flex-start;
  }
}

.arrow_wrap_inner {
  width: var(--size--1-5rem);
  height: var(--size--1-5rem);
  align-self: center;
  aspect-ratio: 1/1;
}

.scroll_down_icon {
  position: absolute;
  top: auto;
  bottom: 1.5%;
  z-index: 2;
  width: 100%;
}

.icon_circle_padding {
  display: flex;
  width: var(--size--3-5rem);
  height: var(--size--3-5rem);
  margin-right: auto;
  margin-left: auto;
  padding: var(--size--0-5rem);
  justify-content: center;
  align-items: center;

  border-radius: var(--radius--round);

  background-color: var(--swatch--brand);
}

.icon_circle_wrap {
  position: relative;

  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  aspect-ratio: 1/1;

  border-radius: var(--radius--round);
}