.services_tab_wrap {
  position: relative;
  align-self: flex-start;
}

.services_tabs_contain {
  flex: 0 0 auto;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
}

.u-container {
  position: relative;

  width: 100%;
  max-width: var(--max-width--main);
  margin-right: auto;
  margin-left: auto;
  padding: var(--padding-vertical--main) var(--padding-horizontal--main);
}

.u-vflex-stretch-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.services_tabs_contain.u-container.u-vflex-stretch-top.u-gap-row-small {
  z-index: 0;
}

.u-gap-row-small {
  grid-row-gap: var(--space--small);
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.u-gap-large {
  grid-column-gap: var(--space--large);
  grid-row-gap: var(--space--large);
}

.u-vflex-left-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

.u-vflex-left-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-start;
  align-content: flex-start;
}

@media screen and (max-width: 767px) {
  .services_tabs_contain.u-vflex-left-top.u-gap-xsmall {
    overflow: auto;
    min-height: var(--size--4rem);
    padding-bottom: var(--size--1rem);
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.services_slider_wrap {
  position: relative;

  overflow: hidden;

  border-top-left-radius: var(--radius--outer-radius);
  border-top-right-radius: var(--radius--outer-radius);
  border-bottom-left-radius: var(--radius--outer-radius);
  border-bottom-right-radius: var(--radius--outer-radius);

  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.services_slider_bottom {
  position: relative;

  padding-right: var(--size--4-5rem);
  padding-left: var(--size--3-5rem);
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);

  background-color: var(--swatch--brand);
}

@media screen and (max-width: 479px) {
  .services_slider_bottom {
    grid-column-gap: var(--space--small);
    grid-row-gap: var(--space--small);
  }
}

.services_slider_btn_layout {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 1;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  pointer-events: none;
}

.services_slider_btn_element {
  position: relative;

  width: var(--size--3rem);
  padding: var(--size--0-5rem);
  align-self: stretch;
  flex: 0 0 auto;

  border-left: var(--size--0-25rem) solid var(--swatch--light);

  background-color: var(--swatch--brand);

  pointer-events: auto;

  transition: background-color 400ms ease-in-out;

  color: var(--swatch--light);

  cursor: pointer;
}

.services_slider_btn_element:hover {
  background-color: var(--theme--border);
  color: var(--swatch--brand);
}

.services_slider_btn_element.swiper-button-disabled {
  opacity: 0.5;
  pointer-events: none;
}

.services_slider_btn_element.is-prev {
  margin-right: auto;
  padding-right: var(--size--0-25rem);
  transform: rotateX(0deg) rotateY(-180deg) rotateZ(0deg);
  transform-style: preserve-3d;
}

.services_slider_btn_element.is-next {
  margin-left: auto;
  padding-right: var(--size--0-25rem);
}

.slider_svg_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.services_slider_thumb_wrap.swiper {
  position: relative;
  overflow: hidden;
}

.services_slider_thumb_list.swiper-wrapper {
  display: flex;
}

.services_slider_thumb_list.swiper-wrapper.u-hflex-left-bottom {
  overflow: auto;
}

.u-hflex-left-bottom {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: flex-end;
  align-content: flex-end;
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

.u-weight-bold {
  font-weight: var(--font--primary-bold);
}

.u-text-h6 {
  font-family: var(--h6--font-family);
  font-size: var(--h6--font-size);
  line-height: var(--h6--line-height);
  letter-spacing: var(--h6--letter-spacing);
  font-weight: var(--h6--font-weight);
  text-transform: var(--h6--text-transform);

  text-wrap: balance;
}

.services_slider_thumb_item {
  position: relative;
  flex: 0 0 auto;
  color: var(--swatch--light);
}

.services_slider_thumb_item.swiper-slide {
  width: 33%;
  padding: var(--size--1-5rem) var(--size--1rem) var(--size--2rem) var(--size--2rem);
  opacity: 0.3;
  cursor: pointer;
}

@media screen and (max-width: 991px) {
  .services_slider_thumb_item.swiper-slide {
    width: 33.33%;
  }
}

@media screen and (max-width: 767px) {
  .services_slider_thumb_item.swiper-slide {
    width: 50%;
  }
}

@media screen and (max-width: 479px) {
  .services_slider_thumb_item.swiper-slide {
    width: 90%;
  }
}

.swiper-slide {
  width: 100%;
}

.services_slider_thumb_item.swiper-slide.is-active {
  background-color: var(--swatch--brand);
  opacity: 100;
}

@media screen and (max-width: 991px) {
  .services_slider_thumb_item.swiper-slide.is-active {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {
  .services_slider_thumb_item.swiper-slide.is-active {
    width: 55%;
  }
}

@media screen and (max-width: 479px) {
  .services_slider_thumb_item.swiper-slide.is-active {
    width: 80%;
  }
}

.u-text-h5 {
  font-family: var(--h5--font-family);
  font-size: var(--h5--font-size);
  line-height: var(--h5--line-height);
  letter-spacing: var(--h5--letter-spacing);
  font-weight: var(--h5--font-weight);
  text-transform: var(--h5--text-transform);

  text-wrap: balance;
}

.services_slider_main_wrap.swiper {
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  margin-top: var(--size--1rem);
}

.services_slider_main_list.swiper-wrapper {
  display: flex;
}

.services_slider_main_item {
  padding-right: var(--size--2rem);
  padding-bottom: var(--size--2rem);
  padding-left: var(--size--2rem);
}

.services_slider_main_item.swiper-slide {
  width: 100%;
  height: 100%;
  flex: 0 0 auto;
}

.u-vflex-stretch-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: stretch;
}

.u-grid-custom {
  display: grid;
  grid-auto-columns: minmax(0px, 1fr);
  grid-column-gap: var(--grid-gap--main);
  grid-row-gap: var(--grid-gap--main);
  grid-template-rows: auto;
  grid-template-columns: var(--grid-1);
}