.footer_social_list {
  background-color: unset;
}

.u-hflex-left-center {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-hflex-wrap {
  flex-direction: row;
  flex-wrap: wrap;
}

.u-gap-medium {
  grid-column-gap: var(--space--medium);
  grid-row-gap: var(--space--medium);
}

.u-gap-small {
  grid-column-gap: var(--space--small);
  grid-row-gap: var(--space--small);
}

@media screen and (max-width: 991px) {
  .footer_social_list.u-hflex-left-center.u-hflex-wrap.u-gap-small.u-hflex-between-center {
    justify-content: center;
    align-items: center;
  }
}

.u-hflex-between-center {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.u-gap-xsmall {
  grid-column-gap: var(--space--extra-small);
  grid-row-gap: var(--space--extra-small);
}

.footer_social_link {
  width: var(--size--3rem);
  height: var(--size--3rem);

  border: var(--border-width--main) solid var(--theme--text);
  border-radius: var(--radius--round);

  transition: all 350ms ease;

  color: var(--theme--text);
}

.footer_social_link:hover {
  border-color: var(--swatch--brand);
  background-color: var(--swatch--brand);
  color: var(--button--text);
}

.u-vflex-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  align-content: center;
}

.footer_social_icon {
  width: 40%;
}