/**
 * GENERATED FILE - Custom Fonts
 *
 * Add your custom font imports here.
 * These will be imported from your Webflow Cloud app.
 */

/* Example Google Fonts import:
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
*/

/* Example local font:
@font-face {
  font-family: 'CustomFont';
  src: url('/fonts/custom-font.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/
